/**
  * RESETS from https://github.com/andy-piccalilli/modern-css-reset
  *
  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.65;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
  * START OF OWN RULES
  *
  */

.container {
  --var-spacing-1: 1em;
  --var-spacing-3: 3em;
  max-width: 1600px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2em;
  min-height: 100vh;
  background: rgb(0, 14, 27);
  background: linear-gradient(
    10deg,
    rgba(0, 14, 27, 1) 0%,
    rgba(1, 26, 57, 1) 47%,
    rgba(1, 26, 57, 1) 80%,
    rgba(0, 14, 27, 1) 100%
  );
  color: #999;
}

.heading {
  color: #ccc;
}

.heading h2 {
  margin-top: 1.5em;
}

.heading h2:nth-child(2) {
  color: red;
}

.content {
  margin-top: 6em;
  margin-bottom: 10em;
  /* font-size: smaller; */
  width: 100%;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  line-height: 1.9;
}

.contact-details > p {
  margin-bottom: 0.5em;
}

.contact-details .icon-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-details .icon-links .icon-link {
  margin-right: 0.5em;
  text-decoration: none;
  color: red;
}

.contact-details .icon-links .icon-link:hover {
  color: rgba(1, 26, 57, 1);
}

.contact-details .icon-links .icon-link.matrix {
  cursor: help;
}

.contact-details .icon-links span {
  margin-right: 2em;
}

@media screen and (min-width: 1600px) {
  html {
    background: rgb(0, 14, 27);
    background: linear-gradient(
      358deg,
      rgba(1, 29, 66, 1) 0%,
      rgba(0, 14, 27, 1) 10%,
      rgba(0, 14, 27, 1) 90%,
      rgba(1, 29, 66, 1) 100%
    );
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--var-spacing-3);
    padding-bottom: var(--var-spacing-3);
  }

  main {
    min-height: calc(100vh - 2 * var(--var-spacing-3));
    border-radius: 12px;
  }

  .content {
    width: 70%;
  }
}
